Source: timesup
Section: utils
Priority: extra
Maintainer: Frederick Ollinger <follinge@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libmono-cil-dev, mono-gmcs, libappindicator0.1-cil-dev
Standards-Version: 3.9.4
Homepage: http://fredollinger.github.com
#Vcs-Git: git://git.debian.org/collab-maint/timesup.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/timesup.git;a=summary

Package: timesup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libappindicator0.1-cil
Description: A simple alarm in C#.
 An alarm clock inspired by KAlarm. In C#.
